{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
  }
}
